doctype html
html
  - body = { class: [] };
  - main = { class: [] };
  block init
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
    meta(property="og:url", content!=config.siteURL)
    meta(property="og:type", content="website")
    meta(property="og:title", content!=config.siteName)
    meta(property="og:image", content="")
    meta(name="description", content!=(description || config.siteDescription))
    meta(property="og:description", content!=(description || config.siteDescription))
    block meta
    link(rel="icon", type="image/png", href="assets/img/favicon.png")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700", rel="stylesheet")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css", integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy", crossorigin="anonymous")
    link(rel='stylesheet', href='assets/css/default.css?v=1', media='all', type='text/css')
    block stylesheets
    title
      != (title ? title + ' - ' + config.siteName : config.siteName )
    block head
  body(class!=body.class.join(' '))
    block body
    script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js", integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4", crossorigin="anonymous")
    block scripts
    script(type="text/javascript", src="assets/js/bundle.min.js?v=1")
    block closing
